<div class="calculator-area mx-auto justify-content-center text-center">
  <!-- Pantalla -->
  <div class="row">
    <input type="text" class="input-screen border form-control-lg col-12 text-end" disabled [(ngModel)]="currentInput" />
  </div>
  <!-- Botonera -->
  <div class="row">
    <form (submit)="false">
      <button type="button" class="btn btn-outline-secondary col-3" value="7" (click)="handleButtonClick('7')">7</button>
      <button type="button" class="btn btn-outline-secondary col-3" value="8" (click)="handleButtonClick('8')">8</button>
      <button type="button" class="btn btn-outline-secondary col-3" value="9" (click)="handleButtonClick('9')">9</button>
      <button type="button" class="btn btn-outline-primary col-2" value="+" (click)="handleButtonClick('+')">+</button>
    </form>
  </div>
  <div class="row">
    <form (submit)="false">
      <button type="button" class="btn btn-outline-secondary col-3" value="4" (click)="handleButtonClick('4')">4</button>
      <button type="button" class="btn btn-outline-secondary col-3" value="5" (click)="handleButtonClick('5')">5</button>
      <button type="button" class="btn btn-outline-secondary col-3" value="6" (click)="handleButtonClick('6')">6</button>
      <button type="button" class="btn btn-outline-primary col-2" value="-" (click)="handleButtonClick('-')">-</button>
    </form>
  </div>
  <div class="row">
    <form (submit)="false">
      <button type="button" class="btn btn-outline-secondary col-3" value="1" (click)="handleButtonClick('1')">1</button>
      <button type="button" class="btn btn-outline-secondary col-3" value="2" (click)="handleButtonClick('2')">2</button>
      <button type="button" class="btn btn-outline-secondary col-3" value="3" (click)="handleButtonClick('3')">3</button>
      <button type="button" class="btn btn-outline-primary col-2" value="x" (click)="handleButtonClick('x')">x</button>
    </form>
  </div>
  <div class="row">
    <form (submit)="false">
      <button type="button" class="btn btn-outline-danger reset col-3" value="reset" (click)="handleButtonClick('reset')">Clear</button>
            <button type="button" class="btn btn-outline-secondary col-3" value="0" (click)="handleButtonClick('0')">0</button>
            <button type="button" class="btn btn-outline-secondary col-3" value="." (click)="handleButtonClick('.')">.</button>
            <button type="button" class="btn btn-outline-primary col-2" value="/" (click)="handleButtonClick('/')">÷</button>
          </form>
        </div>
        <div class="row">
          <form (submit)="false">
            <button type="button" class="btn btn-outline-success col-10" value="=" (click)="handleButtonClick('=')">=</button>
          </form>
        </div>
      </div>